.container{
  border: 1px solid black;
  width: 500px;
  height: 1900px;
}

.box{
  border: 1px solid red;
  width: 200px;
  height:200px;
  color: white;
  
}
.box1{
  background-color: lightskyblue;
  width: 200px;
  height:200px;
  top:0px;
  left:0px;
  position: sticky;

}
.box2{
  background-color:blue;
  width: 160px;
  height:160px;
  left: 20px;
  position: sticky;
  top:20px
  
}
.box3{
  background-color:green;
  width: 120px;
  height:120px;
   position: sticky;
  top:40px;
  left:40px;



}
.box4{
  background-color:orange;
  width:80px;
  height:80px;
  top:60px;
  left:60px;
  position: sticky;
  
}